<%- include('partials/header') %>

<main class="kotisivu">
    <section class="kategoriat">
        <h1 class="goodboy">Kategoriat</h1>
        <div class="kategoria-lista">
            <% kategoriat.forEach(kategoria => { %>
                <a href="/reseptit?haku=<%= encodeURIComponent(kategoria.strCategory) %>&searchType=category" class="kategoria-kortti">
                    <img src="<%= kategoria.strCategoryThumb %>" alt="<%= kategoria.strCategory %>">
                    <h3><%= kategoria.strCategory %></h3>
                </a>
            <% }); %>
        </div>
    </section>
</main>